{{#each this}}

<li class="photo-card">
  <a href={{largeImageURL}} ><img class ="images"src={{webformatURL}} alt={{tags}} loading="lazy"  /></a>
  <div class="info">
    <p class="info-item">likes: 
      <b>{{likes}}</b>
    </p>
    <p class="info-item">views:
      <b> {{views}}</b>
    </p>
    <p class="info-item">comments:
      <b> {{comments}}</b>
    </p>
    <p class="info-item">downloads: 
      <b>{{downloads}}</b>
    </p>
  </li>
  
{{/each}}